.Text {
    font-family: 'Saira Condensed', sans-serif;
    width: 100vh;
    box-sizing: border-box;
    padding: 0.3rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
}

.Text:focus, .Text:active {
    outline: none;
    box-shadow: 0.2px 0.2px 4px #01161E;
    transition: 0.2s;
}

.Text:hover {
    cursor: hand;
    box-shadow: 0.2px 0.2px 2.5px #01161E;
    transition: 0.2s;
}

.RadioContainer {
    font-size: 1.5rem;
}

.Red {
    border: 2px solid red
}

@media (min-width:500px) {
    .Text {
        height: 50px;
        font-size: 1.3rem;
    }
}

@media (max-width: 499px) {
    .RadioContainer {
        font-size: 1rem;
    }
}

.Switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    outline:none;
}

/* Hide default HTML checkbox */

.Switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}