.navbar-logo {
    height: 2.5rem;
    width: auto;
}
.navbg{
    background: linear-gradient(332deg, rgb(213, 18, 18) 7%, rgb(222, 222, 222) 88%);
}
.navbar-button {
    background: rgb(233, 57, 57);
    background: linear-gradient(332deg, rgb(255, 48, 48) 7%, rgb(222, 222, 222) 88%);
}
.TrainerCard-image {
     width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 50%;
}
.theme-color {
    color: #000000;
}
.theme-bgcolor {
    background-color: #f54040 !important ;
}
.TrainerCard-details {
    background-color: #e32e2ea9;
}
.tForm{
    text-align: center;
}

.formBg{
    background-color: #ee2929d5 !important ;    
    border-radius: 20px ;
}
hr.solid {
    border-top: 1px solid rgb(0, 0, 0);
  }
.subButton{
    margin-top:1%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.spacing2{
    margin-top: 10px;
}
.spacing1{
    margin-left: 10px;
}
.Tslider{
    align-items: center;
}
.bookNowButton{
    background: linear-gradient(90deg, rgb(160, 160, 160) 7%, rgb(202, 119, 119) 88%);


}